.achievement {
  background-color: $bg-gray;
}

.achievement__list {
  list-style: none;
  padding: 0;
}

.achievement__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
}

.achievement__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
}
