.button-form {
  background-color: $green;
  padding: 23px 45px;
  margin-bottom: 69px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  border: none;
  border-radius: 3px;
}
