.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    order: 3;
    border: 2px solid $table-stroke;
    border-radius: 2px;
    width: 87%;
    margin: 0 auto;
    margin-top: 59px;
    padding-right: 23px;
    padding-bottom: 27px;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    width: 74%;
    margin-top: 6px;
    padding-bottom: 0;
  }
}

.contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $pink;
    padding: 0 31px;
  }
}

.contacts__information {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 87%;
    margin: 0 auto;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 42%;
    height: 115px;
    margin-top: -3px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper--number::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    display: block;
    height: 60px;
    width: 59px;
    background-color: $table-stroke;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0 3px 3px 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}

.contacts__wrapper--email::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    display: block;
    height: 60px;
    width: 59px;
    background-color: $table-stroke;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0 3px 3px 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}


.contacts__subtitle {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}

.contacts__subtitle--one {
  margin-top: 26px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    padding-bottom: 29px;
    padding-left: 20px;
  }
}

.contacts__subtitle--two {
  margin-top: 0;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    padding-bottom: 0;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 11px;
  }
}

.contacts__communication {
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
  padding: 14px 20px;
  border: 2px solid $table-stroke;
  border-radius: 3px;
  outline: none;
  background: none;
}

.contacts__communication::placeholder {
  color: $lite-black;
}

.contacts__communication:focus::placeholder {
  opacity: 0;
}

.contacts__communication:hover {
  border-color: $lite-black;
}

.contacts__communication:focus {
  border-color: $pink;
}
