.description {
  @media (min-width: $tablet-width) {
    order: 5;
    display: flex;
    justify-content: center;
    border: 2px solid $table-stroke;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.description__title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.description__text {
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
  width: 60%;
}
