.description {
  margin-bottom: 52px;

  &__title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: $lite-black;
  }
}
