.form {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  padding-bottom: 44px;
  margin: 0;
  border: none;
}
