.full-name {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    width: 80%;
  }
}

.full-name__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
  }
}

.full-name__subtitle {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  margin-top: 10px;
  padding-left: 15px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 10px;
    margin-top: 0;
  }
}

.full-name__data {
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
  padding: 23px 20px;
  border: 2px solid $table-stroke;
  border-radius: 3px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 90%;
  }
}

.full-name__data::placeholder{
  color: $lite-black;
}

.full-name__data:focus::placeholder{
  opacity: 0;
}

.full-name__data:hover {
  border-color: $lite-black;
}

.full-name__data:focus {
  border-color: $pink;
}
