.operating-system {
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 0;
  background-color: $bg-gray;

  @media (min-width: $tablet-width) {
    order: 2;
    background-color: $white;
    border: 2px solid $table-stroke;
    border-radius: 2px;
    width: 83%;
    margin: 0 auto;
    padding-right: 32px;
    padding-bottom: 7px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 62%;
    height: 76%;
    margin-right: 127px;
    padding-right: 27px;
    padding-bottom: 6px;
    padding-top: 26px;
  }
}

.operating-system__list {
  list-style: none;
  padding: 0;
}

.operating-system__item {
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 37px;
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 39px;
    padding-left: 52px;
  }
}

.operating-system__title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
  padding-top: 64px;

  @media (min-width: $tablet-width) {
    padding: 6px 25px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 29px 0 19px;
  }
}

.operating-system__subtitle {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
  padding-left: 53px;

  @media (min-width: $tablet-width) {
    padding-left: 46px;
  }
}

.operating-system__type + .operating-system__subtitle::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -6px;
  width: 37px;
  height: 37px;
  background-color: $white;
  border: 2px solid $table-stroke;
  border-radius: 50%;
}

.operating-system__type + .operating-system__subtitle:hover::before {
  border-color: $lite-black;
}

.operating-system__type + .operating-system__subtitle:active::before {
  border-color: $pink;
}

.operating-system__type:checked + .operating-system__subtitle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.operating-system__type:focus + .operating-system__subtitle::before {
  border-color: $lite-black;
}
