.operating-system {
  background-color: $bg-gray;
  margin-bottom: 42px;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: $lite-black;
  }
}
