.operating-system {
  background-color: $bg-gray;

  @media (min-width: $tablet-width) {
    order: 2;
    background-color: $white;
    border: 2px solid $table-stroke;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.operating-system__list {
  list-style: none;
  padding: 0;
}

.operating-system__title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.operating-system__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: $lite-black;
}
