.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    width: 78%;
    height: 131px;
  }
}

.post-form__necessarily {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 83px;
  }
}

.post-form__necessarily-pink {
  color: $pink;
}

.post-form__necessarily-fill {
  display: none;

  @media (min-width: $desktop-width) {
    display: initial;
  }
}
