.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}
