.main-subtitle__item {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $lite-black;
  padding: 30px 20px 7px 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 74px 50px 48px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 198px 48px 198px;
  }
}

.main-subtitle__item--upper {
  padding: 30px 34px 37px 34px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 74px 50px 59px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 198px 71px 198px;
  }
}

.main-subtitle__item--lower {
  padding: 30px 29px 39px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 37px 50px 66px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 198px 63px 198px;
  }
}

.main-subtitle__subitem {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
