.main-nav {
  position: relative;
  width: auto;
  background-color: rgba(0, 0, 0, 0.2);

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.main-nav__head-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}

.main-nav__head {
  min-height: 66px;
  display: flex;
  align-items: center;

  &--opened {
    background-color: rgba(40, 54, 69, 1);
  }

  @media (min-width: $desktop-width) {
    background-color: inherit;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 7px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  background-color: inherit;
  border: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  top: 7px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--opened .main-nav__toggle:hover::before {
  background-color: #d22856;
}

.main-nav--opened .main-nav__toggle:active::before {
  background-color: #d22856;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}

.main-nav--opened .main-nav__toggle:active::after {
  background-color: #d22856;
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  background-color: $lite-black;

  @media (min-width: $desktop-width) {
    background-color: inherit;
    width: 62%;
  }
}
