.main-title {
  background-image: url("../img/background-title.jpg");
  background-color: $lite-black;
}

.main-title__item {
  background-repeat: no-repeat;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: $white;
  padding: 106px 46px 51px 46px;
  margin: 0;
}
