.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px auto 0;

  @media (min-width: $tablet-width) {
    width: 94%;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px auto 20px;
  }

  @media (min-width: $desktop-width) {
    width: 95%;
    max-width: 1200px;
    justify-content: space-around;
    margin: 41px auto 55px;
  }
}

.page-footer__social-list {
  display: flex;
  width: 59%;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 32%;
    justify-content: center;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
    margin-right: -15px;
  }
}

.page-footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 3px solid $table-stroke;
  box-sizing: border-box;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin: 1px 12px 0 -1px;
  }

  @media (min-width: $desktop-width) {
    margin: 1px 9px 0 -1px;
  }
}

.page-footer__social-item:hover {
  border-color: $lite-black;
}

.page-footer__social-item:active {
  opacity: 0.1;
}

.page-footer__developer {
  font-size: 14px;
  line-height: 18px;
  color: $lite-black;
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 31px;
  margin-bottom: 51px;
  padding-right: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-right: 38px;
  }

  &:hover {
    color: $lite-black;
  }

  &:active {
    color: $lite-black;
  }
}

.page-footer__developer::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 95px;
  width: 41px;
  height: 34px;
  mask: url("../img/htmlacademy.svg") no-repeat 50% 50%;
  mask-size: cover;
  background-color: $pink;

  @media (min-width: $tablet-width) {
    left: 96px;
  }

  @media (min-width: $desktop-width) {
    top: -8px;
    left: 118px;
  }
}

.page-footer__developer:hover::after {
  background-color: $lite-black;
}

.page-footer__developer:active::after {
  opacity: 0.3;
}
