.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

.page__body {
  margin: 0;
}

.page__header + .page__main {
  margin-top: -71px;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
  }
}
