.site-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -45px;
    margin-left: 60px;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 16px 10px;

  @media (min-width: $desktop-width) {
    box-shadow: none;
  }
}

.site-list__link {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  padding: 10px;

  &:hover {
    color: #d22856;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    text-transform: unset;
    line-height: 18px;
    font-weight: 400;

    &:active {
      color: $white;
      opacity: 0.3;
    }
  }
}

.site-list__link--active {
  @media (min-width: $desktop-width) {
    padding: 0;
    border-bottom: 2px solid $white;

    &:hover {
      color: $white;
      border-bottom: 2px solid $white;
    }

    &:active {
      border-bottom: 2px solid $white;
      opacity: 1;
    }
  }
}
