.site-list {
  list-style: none;
  background-color: $lite-black;
  padding: 0;

  &__item {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }

  &__link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding: 10px;
  }
}
