// Colors
$white: #ffffff;
$bg-gray: #f2f2f2;
$lite-black: #283645;
$platform-bg: #1d2631;
$pink: #d22856;
$table-stroke: #e5e5e5;
$green: #2aab6d;
$dark-green: #1c9b5e;
$black: #000000;
// Viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
