.editor {
  display: grid;
  margin: 0 auto;
  padding: 10px;
  background-color: $bg-gray;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 95%;
    margin: 0 auto;
  }
}

.editor__image {
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
  }
}

.editor__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.editor__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.editor__input-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    width: 80%;
  }
}

.editor__variety--disabled {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.editor__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.editor__post {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $pink;
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 38px;
  padding: 21px 90px;
}

.editor__cancel {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  opacity: 0.1;
  border: 3px solid $lite-black;
  box-sizing: border-box;
  border-radius: 38px;
  padding: 21px 103px;
  margin-bottom: 41px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
