.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery__wrapper {
  display: grid;
  gap: 20px;
  width: 90%;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
}

.gallery__image {
  display: block;
  width: 100%;
}

.gallery__user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  background-color: $bg-gray;
  padding-left: 17px;
}

.gallery__user--modified {
  width: 84%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 93%;
  }

  @media (min-width: $desktop-width) {
    width: 95%;
  }
}

.gallery__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $lite-black;
  margin: 0;
  padding: 25px 0 14px 0;
}

.gallery__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__comment {
  font-size: 14px;
  line-height: 24px;
  color: $lite-black;
  margin: 0;
  padding-bottom: 27px;
}

.gallery__like {
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  margin-top: auto;
}
