//global
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/page.scss";
@import "global/site-list.scss";
@import "global/page-footer.scss";
@import "global/visually-hidden.scss";
@import "global/main-title.scss";
@import "global/main-subtitle.scss";
@import "global/main-nav.scss";
@import "global/break.scss";
//index
@import "index/application.scss";
@import "index/platform.scss";
@import "index/advantages.scss";
@import "index/article.scss";
@import "index/reviews.scss";
@import "index/rate.scss";
@import "index/connection.scss";
@import "index/slider.scss";
//form
@import "form/form.scss";
@import "form/full-name.scss";
@import "form/achievement.scss";
@import "form/contacts.scss";
@import "form/operating-system.scss";
@import "form/description.scss";
@import "form/button-form.scss";
@import "form/post-form.scss";
//catalog
@import "catalog/gallery.scss";
@import "catalog/edtor.scss";
