.advantages__offer {
  display: flex;
  flex-direction: column;
}

.advantages__sentence {
  text-align: center;
  margin: 0 auto;
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    width: 85%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.advantages__title {
  color: $lite-black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }

  &--modified {
    @media (min-width: $tablet-width) {
      max-width: 99%;
    }
  }
}

.advantages__wrapper {
  background-image: url("../img/gray-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advantages__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.advantages__item {
  text-align: center;
  margin: 0 auto;

  &--modified-padding {
    padding-top: 80px;

    @media (min-width: $tablet-width) {
      padding-top: 37px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  &--disable {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }

  &--modified-one {
    @media (min-width: $tablet-width) {
      grid-row: 1/-1;
    }

    @media (min-width: $desktop-width) {
      grid-row: 1/2;
    }
  }

  &--modified-two {
    @media (min-width: $desktop-width) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &--modified-three {
    @media (min-width: $desktop-width) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}

.advantages__image {
  @media (min-width: $tablet-width) {
    width: 268px;
    height: 546px;
  }
}

.advantages__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  color: $lite-black;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
