.application {
  display: grid;
  background-image: url("../img/background-title-mobile.webp");
  background-color: $lite-black;
  background-repeat: no-repeat;
  background-size: 100% 63%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-title-mobile2x.webp");
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/background-title-tablet.webp");
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-title-tablet2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-title.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-title2x.webp");
    }
  }
}

.application__header {
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-top: 88px;
    padding-bottom: 280px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 203px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 209px;
  }
}

.application__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 286px;
  background-image: url("../img/hand-mobile.webp");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hand-mobile2x.webp");
    background-size: 320px 286px;
  }

  @media (min-width: $tablet-width) {
    bottom: -379px;
    width: 660px;
    height: 545px;
    background-image: url("../img/hand-tablet.webp");
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-tablet2x.webp");
      background-size: 660px 545px;
    }
  }

  @media (min-width: $desktop-width) {
    bottom: -438px;
    left: 144px;
    width: 900px;
    height: 645px;
    background-image: url("../img/hand-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-desktop2x.webp");
      background-size: 1053px 645px;
    }
  }
}

.application__description {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $white;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 2px;
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 3px;
    margin-left: -40px;
  }
}

.application__main {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    z-index: 1;
  }
}
