.application {
  background-image: url("../img/background-title.jpg");
  background-color: $lite-black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.application__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application__description {
  font-size: 24px;
  color: $white;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 34px;
  margin-top: 0;
}
