.application {
  background-image: url("../img/background-title.jpg");
  background-color: $lite-black;
  background-repeat: no-repeat;

  &__header {
    margin: 5px;
  }

  &__description {
    font-size: 24px;
    color: $white;
    margin-top: 29px;
    margin-bottom: 34px;
  }
}
