.article {
  display: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-gray;
  }
}

.artilce__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 65px;

  @media (min-width: $desktop-width) {
    padding-top: 31px;
    padding-bottom: 112px;
    margin-left: -199px;
  }
}

.article__information {
  position: relative;
  grid-column: 2;
}

.article__information::before {
  content: "";
  position: absolute;
  left: -309px;
  top: -12px;
  width: 238px;
  height: 276px;
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    left: -370px;
    top: -65px;
    width: 298px;
    height: 345px;
  }
}

.article__title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.article__description {
  color: $lite-black;
  font-size: 14px;
  line-height: 24px;
  margin-top: 9px;
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 26px;
    margin-bottom: 31px;
  }
}

.article__link {
  color: $pink;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
