.article {
  display: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-gray;
  }
}

.artilce__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;

  @media (min-width: $desktop-width) {
    padding-left: 8%;
  }
}

.article__title {
  font-size: 30px;
  line-height: 36px;
}

.article__description {
  color: $lite-black;
  font-size: 14px;
  line-height: 24px;
}

.article__link {
  color: $pink;
  font-size: 14px;
  line-height: 24px;
}
