.connection__triangle {
  position: relative;
}

.connection__triangle::after {
  content: "";
  position: absolute;
  bottom: -77px;
  width: 100%;
  height: 123px;
  background-image: url("../img/white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: $tablet-width) {
    bottom: -95px;
  }

  @media (min-width: $desktop-width) {
    bottom: -96px;
  }
}

.connection__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.connection__view {
  text-align: center;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }
}

.connection__title {
  color: $lite-black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.connection__list {
  list-style: none;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}

.connection__item--phone {
  @media (min-width: $tablet-width) {
    margin-right: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 62px;
  }
}

.connection__item--email {
  @media (min-width: $tablet-width) {
    margin-right: -20px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-right: 45px;
  }
}

.connection__item--addres {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-top: 0;
    margin-right: -16px;
  }
}

.connection__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }

  &--modified {
    margin-top: 21px;
  }
}

.connection__link {
  color: $pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:hover {
    color: $lite-black;
  }

  &:active {
    opacity: 0.3;
  }
}

.connection__link:hover::after {
  content: "";
  position: absolute;
  background: $lite-black;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
}

.connection__link:active::after {
  content: "";
  position: absolute;
  background: inherit;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
}

.connection__map {
  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 493px;
  }
}
