.platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $platform-bg;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }
}

.platform__link {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid $white;
  border-radius: 38px;
  padding: 16px 36px;
  margin-top: 28px;
  margin-bottom: 32px;
  box-sizing: border-box;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.6);
    background-color: rgba(255, 255, 255, 0.9);
  }

  @media (min-width: $tablet-width) {
    padding: 15px 45px;
    margin-left: 7px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 16px 28px;
    margin-left: -40px;
    margin-bottom: 43px;
    margin-top: 33px;
  }
}

.platform__logo--margin {
  margin-top: 7px;
}

.platform__market {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64%;

  @media (min-width: $tablet-width) {
    width: 61%;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-evenly;
    width: 46%;
    margin-left: -40px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
}

.platform__description {
  color: $white;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 114px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 125px;
    margin-left: -40px;
  }
}
