.rate {
  background-color: $bg-gray;
}

.rate__wrapper {
  padding-top: 60px;
  margin: 0 auto;
  overflow-x: auto;

  @media (min-width: $tablet-width) {
    max-width: 90%;
  }
}

.rate__table {
  margin: auto;
}

.rate__column {
  background-color: $white;
  border: 1px solid $table-stroke;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 30px;

  &--dark {
    background-color: $lite-black;
    color: $white;
    padding: 0 25px;
    text-transform: uppercase;
  }
}

.rate__name {
  font-weight: bold;
}

.rate__toggles {
  margin-top: 45px;
  padding-bottom: 49px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
