.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 90%;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
}

.reviews__item {
  text-align: center;
}

.reviews__name {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__text {
  color: $lite-black;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 18px;
  }
}

.reviews__job {
  display: none;
  color: $lite-black;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__toggles {
  margin-bottom: 60px;
}
