.slider__item {
  display: none;
}

.slider__item--active {
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto auto;
  }
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider__toggle {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 10px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__toggle--current{
  border: 3px solid $lite-black;
  background-color: $white;

  &:hover {
    background-color: $white;
  }

  &:active {
    background-color: $white;
  }
}
